@import url('./Fonts/Comforter_Brush/ComforterBrush-Regular.ttf');

:root /*Stylt das oberste Element (HTML Tag)*/
{
    font-size: 62,5%; /*Schriftgröße ganze Seite Scalierbar*/
}

body
{
    font-size: 1.6rem; /*setzt die Schriftgröße auf Standart zurück*/
}

h1
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    padding: 25px;
}

h2
{
    font-family: monospace;
    font-size: 1.5em;
    padding: 25px;
    padding-bottom: 5px;
    text-decoration: double underline;
    text-decoration-style: wavy;
}

p
{
    font-size: 1em;
    padding: 20px 50px 20px 50px;
}

.p1
{
    font-family: fantasy;
    text-align: center;
}

.p2
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: right;
}

.p3
{
    font-family:'Franklin Gothic Medium';
    text-align: justify;
}

.p4
{
    font-family: cursive;
    line-height: 80%;
}

    .p4_strong
    {
        line-height: 120%;
    }


.p5
{
    font-family: 'Pacifico', cursive;
    letter-spacing: 5px;
}

    .p5_strong
    {
        line-height: 400%;
    }

.p6
{
    font-family: 'Roboto';
    border: double 5px red;
}

.clip
{
    width: 730px; /*entspricht ungefähr 48%*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.p7
{
    font-family: 'Comforter Brush', cursive;
    font-style: italic;
    border-bottom: solid 1px blue;
}

.p8
{
    text-transform: uppercase;
}

.p9
{
    text-transform: lowercase;
}

.p10
{
    color: #a0a;
    text-shadow: 2px 3px 2px red;
    /*            links/rechts runter/hoch    bleur
    text-shadow:      2px          3px         2px     red;*/
}

.p11
{
    font-variant: small-caps;
}

.p12::before
{
    content: "Variante 1:";
    color: red;
    font-size: 1.5em;
}

.p12::after
{
    content: "Variante 2:";
    color: green;
    font-size: 1.5em;
}

.p13::first-letter
{
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}

.p14::first-line
{
    font-weight: bolder ;
}
